*{
    padding:0;
    margin: 0;
    font-size:auto;
}

.box-one{
    background-color: brown;
    border:30px solid black;
    padding: 20px;
    margin: 60px;
}

.box-two{
    background-color: #fff;
    border: 20px solid blue;
    /* margin dont consider the margin of the top 
    it consider the element
    example we hade for both margin 60 but here look it is not getting 120 it got 60
     */
    margin: 60px; 
    padding:20px;
}

